.container {
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	.block {
		align-items: center;
		justify-content: center;
		background-color: #f9fafb;
		gap: 5px;
		padding: 4px;
		border-radius: 15px;
	}
}
.active {
	background-color: #fff !important;
	color: #fe5f00 !important;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
