.container {
	position: absolute;
	width: 100%;
	max-width: 400px;
	min-height: 40px;
	border-radius: 15px;
	z-index: 150;
	background-color: #f7f7f7;
	padding: 4px;
	gap: 5px;

	display: flex;
	flex-direction: column;

	padding: 9px 10px;
}
.focused {
	margin-top: 10px;
	// transition: all 0.05s ease;
}
.link {
	display: flex;
	align-items: center;
	gap: 16px;
	color: #000;
	font-weight: 600;
	&:hover {
		color: #fe5f00;
	}
}
