.container {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0px 41px 0px;
	background-color: #fff;
	border-bottom: 1px solid #f3f4f6;

	padding: 30px 0px 40px 0px;

	.content {
		gap: 15px;
	}
}
